.flair
	border none
	font-size 12px
	font-family arial,sans-serif
	font-weight 400
	background-color transparent
	color #B3B3B3
	padding-left 0
	margin-right inherit
	border-radius 2px
	margin-left 10px

.flair-inkhorngames
	color #095369
	background-color orange-300
	border-radius 2px
	border-color #2d93c5
	padding 2px 5px 2px 2px
	font-size 9px
	&:before
		margin-right 3px
		height auto
		content "★ "
		margin-left 4px
