// Need to do some imports

// Transition Mixin
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

filter(value)
  -webkit-filter value
  -moz-filter value
  -o-filter value
  filter value

///////////////////////////////////////////////
//// Colors                                ////
//// Scheme used by Google Material Colors ////
///////////////////////////////////////////////

// Grey
grey-50 = #FAFAFA
grey-900 = #120A02

// Brown
brown-200 = #C4A782
brown-300 = #806754
brown-700 = #744216

// Yellow
yellow-500 = #EBE238
yellow-600 = #E4C041

// Orange
orange-300 = #FFA364
orange-700 = #B95613
orange-900 = #9E542C

// Red
red-600 = #BA2B0D
red-700 = #8C0D03
red-900 = #610801

///////////////////////////////////////////////
//// Animations                            ////
//// Hand-made awesomeness ready to use!   ////
///////////////////////////////////////////////
// APPARENTLY CSS Filter isn't supported by Reddit, wut
// $keyframe-name = filtered-pulse
// @keyframes {$keyframe-name}
//   0%
//     filter drop-shadow(0px 3px 1px rgba(255, 153, 0, 0.6))
//  50%
//    filter drop-shadow(0px 3px 16px rgba(255, 153, 0, 0.6))
//  100%
//    filter drop-shadow(0px 3px 1px rgba(255, 153, 0, 0.6))


/////////////////////////////
////////// Imports //////////
/////////////////////////////
@import theme
@import flair
