@import theme
@import flair

///////////////////////////////////////////////
//// Colors                                ////
//// Scheme used by Google Material Colors ////
///////////////////////////////////////////////

// Grey
grey-50 = #FAFAFA
grey-900 = #120A02

// Brown
brown-200 = #C4A782
brown-300 = #806754
brown-700 = #744216

// Yellow
yellow-500 = #EBE238
yellow-600 = #E4C041

// Orange
orange-700 = #B95613
orange-900 = #9E542C

// Red
red-600 = #BA2B0D
